*{
    box-sizing: border-box;
}
/* nav part */
 

.nav-menu .navbar div ul li a{
    margin-left: 40px;
    font-size: 18px;
}
 .nav-menu .navbar div ul li a:hover{
   text-decoration: underline;
   font-size: 22px;
   font-weight: 500;
   color: rgb(223, 42, 10);
}

/* about part */

#about{
    padding-top: 20px;
}
#about .container .row .col-md-12 .section-title h2{
    font-size: 3rem;
}

#about .container .row .col-lg-5 .img-container img{
    border: 1px solid #f8f9fa;
    padding: 6px;
    border-radius: 5px;
}

#about .container .row .col-lg-5 .img-container img:hover{
    border: 6px solid #636466;
    border-radius: 5px;
}

#about .features .item {
    padding: 24px 20px 20px 20px;
    text-align: center;
    margin-bottom: 30px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

#about .timeline {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

#about .timeline .item {
    position: relative;
    padding: 0;
    border-radius: 5px;
}

#about .timeline .item .content {
    padding: 0px 0px 50px 50px;
    border-left: 1px solid #f21e4e;
}

#info{
    margin-top: 60px;
    padding: 10px;
}
    